*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 1280px;
    margin: auto;
}
.contenedor{
    width: 620px;
    height: 1280px;
    margin: 100px auto;
    overflow: hidden;
    position: relative;
    background-color: rgb(64, 77, 77);
   
    
   
}
.img01{
    width: 350px;
    height: 400px;
background-size: cover;
position: absolute;
left: 310px;
top: -10px;
border-radius: 0 0 0 20%;
overflow: hidden;
border: 10px solid lightblue;
}
.img01 img{
   height: 100%;
   
}

.img03{
    width: 300px;
    height: 500px;
    position: absolute;
    top: 820px;
    left: 340px;
background-size: contain;
border-radius: 20% 0 0 0 ;
border: 10px solid lightblue;
overflow: hidden;
}
.img03 img{
    height: 100%;
}
.img04{
    width: 280px;
   height: 400px;
    position: absolute;
    border-radius:20% 0 0 20%;
    top: 400px;
    left: 360px;
    border: 10px solid lightblue;
overflow: hidden;
}

.img04 img{
   height: 100%;
    /* background-size: contain; */
   
    top: -500px;
    left: 200px;
    /* scale: 0.2; */
}
.img05{
    width: 350px;
   height: auto;
    position: absolute;
    border-radius:0 20% 20% 0;
    top: 400px;
    left: -10px;
    border: 10px solid lightblue ;
overflow: hidden;
}

.img05 img{
   width: 100%;
    /* background-size: contain; */
   
    top: -500px;
    left: 200px;
    /* scale: 0.2; */
}
.img06{
    width: 350px;
   height: auto;
    position: absolute;
    border-radius:0 20% 0 0;
    top: 855px;
    left: -20px;
    border: 10px solid lightblue;
overflow: hidden;
}

.img06 img{
   width: 100%;
    /* background-size: contain; */
   
    top: -500px;
    left: 200px;
    /* scale: 0.2; */
}
.img07{
    width: 350px;
   height: 400px;
    position: absolute;
    border-radius:0 0 20% 0;
    top: -15px;
    left: -55px;
    border: 10px solid lightblue;
overflow: hidden;
}

.img07 img{
   height: 100%;
    /* background-size: contain; */
   position: absolute;
    top: 0px;
    left: -100px;
    /* scale: 0.2; */
}

