*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 2090px;
    height: 2900px;
    background-color: transparent;
    margin:  auto;
}
.cv{
    width: 100%;
    height: 100%;
    background-color: rgb(147, 226, 226);
    margin: auto;
    border:1px solid black ;
    overflow: hidden;
}
p{
    font-size: 30px;
}
